<mat-toolbar class="header" color="primary">
    <a routerLink="/" class="header-link">
        <div class="header-icon"></div>
        <div class="header-title">Linnworks Test</div>
    </a>
    <div *ngIf="getIfUserCanManageSales()" class="inline-panel">
        <a routerLink="/sales" class="link-button" mat-raised-button>Sales</a>
    </div>
    <div *ngIf="getIfUserCanManageUsers()" class="inline-panel">
        <a routerLink="/users" class="link-button" mat-raised-button>Users</a>
    </div>
    <div class="space-filler"></div>
    <div *ngIf="getIfUserLoggedIn()" class="inline-panel login-panel">
        Hello, <span class="material-icons account-icon">account_circle</span><a class="user-name" routerLink="/profile/{{currentUser.id}}">{{currentUser.login}}</a>!
        <button (click)="handleLogOutClick()" mat-raised-button>Log Out</button>
    </div>
    <div *ngIf="!getIfUserLoggedIn()" class="inline-panel">
        You are not logged in
        <a routerLink="/login" class="link-button" mat-raised-button>Log In</a>
    </div>
</mat-toolbar>
