<div class="wrapper">
    <div class="commands-wrapper">
        <a mat-raised-button class="command-button" routerLink="/users/create">Create</a>
        <button *ngIf="canDeleteUser()" class="command-button" mat-raised-button (click)="deleteSelectedUser()">Delete</button>
    </div>

    <div class="table-wrapper">
        <mat-form-field class="search-field">
            <input matInput placeholder="Search users" #input>
        </mat-form-field>
        
        <mat-table [dataSource]="dataSource" matSort matSortActive="login" matSortDirection="asc" matSortDisableClear class="mat-elevation-z8">
            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Login Column -->
            <ng-container matColumnDef="login">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Login </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <editable-table-cell fieldName="login" title="Login" [value]="element.login" [canEdit]="canEditUser(element)" (update)="update($event, element)"></editable-table-cell>
                </mat-cell>
            </ng-container>
    
            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <editable-table-cell fieldName="role" title="Role" columnType="select" [options]="['Administrator','Manager','Reader']" [required]="true" [value]="element.role" [canEdit]="canEditUser(element)" (update)="update($event, element)"></editable-table-cell>
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="loading-wrapper" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>

        <mat-paginator [length]="count" [pageSize]="defaultPageSize"
                   [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
    </div>
</div>