.form-wrapper {
    margin: auto;
    width: 500px;
    padding-top: 100px;
  
    .fields-container {
        display: flex;
        flex-direction: column;

        mat-form-field {
            margin-top: 10px;
        }

        * {
            width: 100%;
        }
    }
  
    .error-wrapper {
        margin: 8px;
        border: 1px solid darkred;
        background-color: #ff000069;
        border-radius: 5px;
  
        .error-text {
            display: block;
            padding: 10px;
        }
    }
}
  